/*选择图片框样式*/
#div_imgfile {
    width: 130px;
    height: 130px;
    text-align: center;
    line-height: 130px;
    font-family: 微软雅黑;
    font-size: 16px;
    box-sizing: border-box;
    border: 2px solid #808080;
    cursor: pointer;
}
    /*选择图片框鼠标移入移出效果*/
    #div_imgfile:hover {
        background-color: #d1cfcf;
    }

.imgfile {
    display: none;
}

/*这里是图片预览容器样式*/
#div_imglook {
    margin-top: 20px;
    background-color: #FFEFD5;
}

/*单个图片预览模块样式*/
.lookimg {
    width: 130px;
    height: 130px;
    box-sizing: border-box;
    border: 1px solid #808080;
    float: left;
    margin-right: 10px;
    position: relative;
}

    .lookimg img {
        width: 100%;
        height: 100%;
    }

/*删除按钮样式*/
.lookimg_delBtn {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #808080;
    opacity: 0.8;
    color: white;
    font-size: 16px;
    font-family: 微软雅黑;
    display: none;
    cursor: pointer;
}

    /*删除按钮移入移出效果*/
    .lookimg_delBtn:hover {
        opacity: 1;
    }

/*上传进度条样式*/
.lookimg_progress {
    position: absolute;
    bottom: 15px;
    left: 0px;
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    box-sizing: border-box;
    border: 1px solid black;
    display: none;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

    .lookimg_progress div {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 0px;
        background-color: #e9cc2e;
    }


/*确定上传按钮样式*/
#btn_ImgUpStart {
    width: 130px;
    height: 40px;
    margin-top: 30px;
}
