@charset "utf-8"

$C-W                    : #FFF                  // white 
$C-B                    : #000                  // black

$C-base                 : #F7F7FA
$C-theme                : rgb( 35, 210, 150 )   // 主题色 + 成功色
$C-L-theme              : rgb( 220, 248, 238 )  // 浅 - 主题色

$C-badge                : rgba( 0, 0, 0, .38 )  // 徽章文字色
$C-copy                 : #B2B2B2               // 版权文字颜色
$C-title                : rgb( 102, 102, 102 )  // 标题色
$C-L-title              : #171818               // 浅 - 标题色

$C-text                 : #8F99AF               // 普通文字
$C-L-text               : #9C9D9F               // 浅 - 普通文字

$C-line                 : rgb( 227, 227, 227 )  // 线 颜色rem